.movielist {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1200px;
    height: auto;
    gap: 20px;
}

.moviecard {
    display: flex;
   /* justify-content: space-evenly; */
   position: relative;
   gap: 10px;
   align-items: center;
   flex-direction: column;
    background:  #424769;;
    width: 300px;
    height: 600px;
    /* margin-top: 20px; */
    border-radius: 15px;
    padding: 20px 10px;
    color: white;
    /* flex-grow: 0; */
}

.moviecard p {
    overflow: scroll;
    height: 215px; /* ajuste la hauteur en fonction de tes besoins */
    display: block;
    background: linear-gradient(to bottom, transparent, #676f9d);
  
}

.posterPath {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: -10px;
}

.brand_film {

}

.titre{
    margin-bottom: -20px;
}

.sortie {
    margin-bottom: -20px;
}

.note {
    margin-bottom: -20px;
}

ul {
    display: flex; 
    flex-wrap: wrap;
    width: 290px;
    margin-bottom: -20px;
}


li {
    list-style: none;
    text-align: center;
    background-color: #676f9d;
    border-radius: 10px;
    padding: 5px;
    margin-right: 1px;
    margin-top: 1px;
}



.favoris {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    color:black;
    border: 1px solid;
    transition: border-color 0.3s;
    background-color: #f9b17a;
    cursor: pointer;
    bottom: 20px;
    position: absolute;
}

.favoris:hover {
    border-color:#ffffff;
}


